.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color:#004496;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.texts {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    font-size: 10px;
}

.amount {
    font-size: 10px;
    font-weight: bold;
    color: white;
    font-family: Luckiest Guy, cursive;
}

.icon {
    font-size: 20px;
    color: white;
}

.container:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    transform: scale(1.05);
}

.title {
    font-size: 15px;
    font-family: Luckiest Guy, cursive;
    color: var(--text);
}

.amount {
    font-size: 15px;
    font-weight: bold;
    color: white;
    font-family: Luckiest Guy, cursive;
}