.container {
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 20px;
    display: flex;
}

.nextButton {
    background-color: #924693;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.nextButton:hover {
    background-color: #0056b3;
}

.prevButton {
    background-color: #924693;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.prevButton:hover {
    background-color: #0056b3;
}